
*.exe

*.ilk

*.pdb

*.sdf

*.sln

*.suo

*.tlog

*.obj

*.lastbuildstate

*.log

*.unsuccessfulbuild

*.idb

*.settings

*.cache

*.dll

*.vcxproj

*.filters

*.vb

*.config

*.manifest

*.resx

*.myapp

*.vbproj
